{% extends "base.html" %}

{% block title %}Home - Project ERASE{% endblock %}
    
{% block extra_styles %}
<style>
    .quote {
        color: #0283FF; /*Overrides quote color for local page*/
    }
</style>
{% endblock %}
    
{% block content %}
    
    <section class="page-header">
        <h1>About Project ERASE</h1>
    </section>
    
    <main class="container">
        <div class="quote">A child's access to education shouldn't depend on where they were born.</div>
    <main>
    
{% endblock %}
